[Desktop Entry]
Version=1.0
Name=News
Comment=News
Exec=omarchy-launch-webapp "https://tradingeconomics.com/calendar"
Terminal=false
Type=Application
Icon=news
StartupNotify=true
